@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

@media (max-width: 767px) { 
    .mobile-menu{
        display: none;
    }

    .menu{
        display: flex;
    }

    .close{
        display: none;
        
    }

    .nav-border{
        border-bottom: 1px solid gray;
    }
    .menu-border{
        border-bottom: 1px solid gray;
    }
}

.background, .background:before {
    height: 100vhvh;
    min-height: 500px;
    width: 100%;
    
}


.background {
    background: rgba(0,0,0,.5);
    background-size: cover;
    position: relative;
}

.background:before{
    background: url(https://media.giphy.com/media/dWesBcTLavkZuG35MI/giphy.gif) no-repeat 50%;
    /* background-position: top; */
    background-size: cover;
    content: "";
    left: 0;
    min-width: inherit;
    opacity: .2;
    position: absolute;
    height: 100vh;
    top: 20;
    z-index: -1;
}