@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

@media (max-width: 767px) { 
    .mobile-menu{
        display: none;
    }

    .menu{
        display: flex;
    }

    .close{
        display: none;
    }

    .nav-border{
        border-bottom: 1px solid gray;
    }

}
